{
  "extends": "airbnb-base",
  "rules": {
    "semi": ["error", "never"],
    "no-console": "off",
    "global-require": "off",
    "no-underscore-dangle": "off",
    "prefer-destructuring": "off",
    "import/no-extraneous-dependencies": "off",
    "import/newline-after-import": "off",
    "import/no-dynamic-require": "off",
    "import/no-unresolved": "off",
    "no-alert": "off",
    "no-restricted-globals": ["error",
      "addEventListener",
      "blur",
      "close",
      "closed",
      "confirm",
      "defaultStatus",
      "defaultstatus",
      "event",
      "external",
      "find",
      "focus",
      "frameElement",
      "frames",
      "history",
      "innerHeight",
      "innerWidth",
      "length",
      "location",
      "locationbar",
      "menubar",
      "moveBy",
      "moveTo",
      "name",
      "onblur",
      "onerror",
      "onfocus",
      "onload",
      "onresize",
      "onunload",
      "open",
      "opener",
      "opera",
      "outerHeight",
      "outerWidth",
      "pageXOffset",
      "pageYOffset",
      "parent",
      "print",
      "removeEventListener",
      "resizeBy",
      "resizeTo",
      "screen",
      "screenLeft",
      "screenTop",
      "screenX",
      "screenY",
      "scroll",
      "scrollbars",
      "scrollBy",
      "scrollTo",
      "scrollX",
      "scrollY",
      "self",
      "status",
      "statusbar",
      "stop",
      "toolbar",
      "top"
    ],
    "comma-dangle": ["error", "never"]
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  }
}
